{% extends "learning_logs/base.html" %}

{% block content %}

<h2 class="text-xl font-semibold mb-6">Add Inventory Item</h2>

<form method="post" class="bg-white p-6 rounded-xl shadow">
    {% csrf_token %}

    <div class="mb-4">
        <label>Part Name</label>
        <input type="text" name="partname" class="w-full border p-2 rounded">
    </div>

    <div class="mb-4">
        <label>Quantity</label>
        <input type="number" step="1" name="quantity" class="w-full border p-2 rounded">
    </div>

    <div class="mb-4">
        <label>Cost</label>
        <input type="number" step="0.01" name="cost" class="w-full border p-2 rounded">
    </div>

    <button class="bg-blue-600 text-white px-4 py-2 rounded">
        Save
    </button>
</form>

{% endblock %}